<div class="row"  >
    <div class="col-md-6 mx-auto">
        <div class="card" style="background-color: rgb(54, 48, 48);">
            <div class="card-header">
                Registro de nuevo Usuario
            </div>
            <div class="card-body">
                <form action="/users/singup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Password">
                    </div>
                     <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>